Source: php-codeception
Build-Depends: debhelper (>= 7.0.50~),po-debconf,composer
Standards-Version: 3.8.4
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://codeception.org/

Package: php-codeception
Depends: ${misc:Depends},php5-common | php7.0-common
Suggests: selenium-server
Architecture: all
Section: development
Priority: optional
Description: Elegant and Efficient Testing for PHP
 Codeception makes it ridiculously easy to manage the database 
 migrations for your PHP app. In less than 5 minutes you 
 can install Codeception and create your first database migration. 
 Codeception is just about migrations without all the bloat 
 of a database ORM system or framework.
